/*
<color-palette name="Airbnb" type="regular" >
               <color>#FF5A5F</color>
               <color>#007A87</color>
               <color>#7B0051</color>
               <color>#00D1C1</color>
               <color>#8CE071</color>
               <color>#FFB400</color>
               <color>#FFAA91</color>
               <color>#B4A76C</color>
               <color>#9CA299</color>
               <color>#565A5C</color>
</color-palette> */

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-text-size-adjust: 50%;
  -ms-text-size-adjust: 50%;
}

body {
  margin: 0;
}

img {
  border: 0;
}

body, button, input, select, textarea {
  color: #565A5C;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.page-title {
  /* top image */
  background: url(img/mini_logo.png) no-repeat left;
  text-align: center;
  color: white;
  font-size: 3em;
  /*opacity:0.8;*/
  background-color: #FF5A5F
}

.page-subtitle {
  text-align: center;
  background-color: #white;
}
.masthead {
  padding: 1em;
  text-align: center;
  background-color: white
  opacity:0.5;
}

.masthead img {
  width: 25%;
  margin: 0 auto;
}

.site-title {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.4em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  color: #FF5A5F;
}

.site-description {
  margin: 0 0 .4em;
  padding: 0;
  font-size: 1.2em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-weight: bold;
}

.main-content {
  background: white;
  padding: 2em;
}

.schedule-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.schedule-list li {
  margin: .5em 0;
  padding: 1em 0;
  border-bottom: 1px dotted #565A5C;
}

.schedule-list li:last-child {
  border-bottom: none;
}

.t-title {
  color: #00D1C1;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.t-stitle {
  margin: .5em 0;
  padding: 5px;
  padding-top: 10px;
  color: #9CA299;
  text-decoration: underline;
}

.t-link{
  color: #565A5C;
  text-decoration: underline;
  padding: 20px;
}
.t-text {
  margin: .5em 0;
  padding: 0;
  font-weight: bold;
}

.sidebar {
  background: white;
}

.info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
}

.info li {
  text-align: left;
}
.tp1 {
  padding: .3em 1em;
  background: #FFB400;
  opacity:0.7;
  font-size: 12px;
}

.tp2 {
  padding: .3em 1em;
  background: #FFB400;
}

.footer {
  padding: 1em 2em;
  background: #FF5A5F;
  color: white;
}

/* @supports not (display: grid) {
  .page-title, .main-content, .sidebar {
    max-width: 20em;
    margin: 0 auto;
  }
} */

@supports (display: grid) {
  @media screen and (min-width: 50px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas: "content-head content-head" "main header" "main sidebar" "footer footer";
    }
    .masthead {
      grid-area: header;
    }
    .page-title {
      grid-area: content-head;
    }
    .main-content {
      grid-area: main;
    }
    .sidebar {
      grid-area: sidebar;
    }
    .footer {
      grid-area: footer;
    }
  }
  @media screen and (min-width: 50px) {
    .site {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-areas: "content-head content-head content-head" "main header header" "main sidebar footer";
    }
  }
}
